<div class="row">
	<div class="col">
		<div ngbDropdown class="d-inline-block">
			<button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
				Job Options
			</button>
			<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
				<button (click)="viewImageClick()" ngbDropdownItem>View Images</button>
				<button (click)="openAssignWorkerClick()" ngbDropdownItem>Assign Workers</button>
                <button (click)="openEditJobClick()" ngbDropdownItem>Edit Job</button>
			</div>
		</div>
	</div>