

.upload-image-cell input[type="file"] {
    border: none; /* remove the default border */
    background-color: transparent; /* make the background transparent */
    color: transparent; /* hide the text label */
    font-size: 0; /* hide the text label */
    width: 15px; /* set the desired width */
    height: 10px;   
  }
  
  .upload-image-cell input[type="file"]::before {
    content: "Upload"; /* add your own label text */
    display: inline-block;
    background-color: #006aff; /* set the desired background color */
    color: white; /* set the desired text color */
    padding: 7px 10px;
    font-size: 16px;
    border-radius: 4px;
    position: absolute;
    transform: translate(-5%, -40%);
    max-width: 100%;
    cursor: pointer;
  }
  
  .upload-image-cell input[type="file"]::-webkit-file-upload-button {
    visibility: hidden; /* hide the default button */
  }

  .job-desc-cell{
    width: 200px;
  }
