
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened">
      <h2>Worker Details</h2>
      <ul>
        <div class="sidebar">
            <div class="image-placeholder"></div>
          </div>
        <label class="small mb-1 p-1" for="inputFirstName">First name: {{firstName}}</label>
        <label class="small mb-1 p-1" for="inputLastName">Last name: {{lastName}}</label>
        <label class="small mb-1 p-1" for="inputEmailAddress">Email: {{email}}</label>
        <button class="btn btn-primary" style="color: rgb(255, 255, 255); background-color: rgb(18, 19, 43); border-radius: 4px; font-weight: 700;" type="button" (click) = "LogOut()">Log Out</button>
      </ul>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <button mat-raised-button (click)="toggleSidebar()" color="primary">
        Toggle Sidebar
      </button>
      <div class="row">
        <div class="col-xl-12">

            <div class =" card mb-4 p-3">
                <table *ngIf="jData.length > 0" class = "table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions">
                    <thead>
                        <tr>
                            <th class="w-20">Job Name</th>
                            <th class="w-20">Job Address</th>
                            <th class="w-50">Job Description</th>
                           
                           
                            
                            <!-- <th>image Edit</th> -->
                            <!-- <th>Job Travel</th> -->
                            <th class="w-20">Upload Image</th>
                            
                            <th class="w-10">Job Complete</th>
                            <th class="w-10">Dropdown</th>
                            
                        </tr>
                        
                    </thead>
                    <tbody>
                        <tr *ngFor = "let job of jData">
                            <td> {{job.name}}</td>
                            <td> {{job.address}}</td>
                            <td > {{job.description}}</td>
                            
                            
                            
                           
                            <!-- <td><button class="btn btn-primary " (click)="openImagesModal(job)">View</button></td> -->
                            <!-- <td ><button class="btn btn-primary" (click)="openTravelModal(job)">Travel</button></td> -->

                            <td ><form  class = "upload-image-cell"  enctype="multipart/form-data">
                                <input type="file" (change)="onFileSelected($event, job)" />
                              </form>
                            </td>
                            <td> <input type = "checkbox" [(ngModel)]='job.completed' (change)="checkVal(job.jobID, job.name, job.description, job.completed? 'true':'false', job.address)"> </td>
                            
                            <td><app-worker-dropdown (viewImageClicked)="openImagesModal(job)" (openTravelModalClicked)="openTravelModal(job)"></app-worker-dropdown></td>
                        </tr>
                    </tbody>
                </table>
            </div>

           

            &nbsp;
            <div class = "card mb-4">
                <div>
              
                </div>
                
            </div>
            <!-- Account details card-->
            
        </div>
    </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
