<div class="row">
	<div class="col">
		<div ngbDropdown class="d-inline-block">
			<button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
				Job Options
			</button>
			<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
				<button (click)="viewImageClick()" ngbDropdownItem>View Image</button>
				<button (click)="openTravelModal()" ngbDropdownItem>Confirm Travel</button>
				<button (click)="uploadImageModal()" ngbDropdownItem>Upload Image</button>
			</div>
		</div>
	</div>