.blinking-dot {
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
    animation: blink 1.5s infinite;
    display: inline-block; // Add this line
  margin-left: 5px; // Add this line
  }
  
  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }